/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */
@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSansBold/OpenSansBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSansBold/OpenSansBold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: bold;
       font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 800;
       font-style: normal;
}


@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 300;
       font-style: normal;
}


@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSansLight/OpenSansLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fontsOpenSansLightc/OpenSansLight.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 300;
       font-style: normal;
}

