html, body {
  width: calc(100% + calc(100vw - 100%));
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  font: inherit;
  color: inherit;
  transition: all 0.3s ease;
}

img {
  max-width: 100%; 
  height: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: scale(0.85);
  }
}

body {
  /* max-width: 1500px; */
  font-family: 'OpenSansRegular', sans-serif;
}
.container {
  margin: 0 12vw;
}

.container-white {
  padding: 6.66vw 0 ;
  background-color: #fff;
  color: #000;
}

.main-header {
  background-color: #000000;
  color: #fff;
  padding-top: 56px;
  text-transform: uppercase;
}

.logo-nav {
  display: flex;
  justify-content: space-between;
  padding-right: 8.3vw;
  padding-left: 12vw;
}

.header_logo {
  font-size: 1.6vw;
  line-height: 1.6vw;
  font-family: 'OpenSansExtraBold', sans-serif;
}

.top_nav {
  display: flex;
  justify-content: space-between;
  margin-left: 29vw;
  position: relative;
}

.top_nav--menu {
  display: flex;
  justify-content: space-between;
  width: 39.33vw;
  position: relative;
}

.top_nav--link {
  display: block;
  font-size: 0.93333vw;
  line-height: 1.6vw;
  padding-bottom: 15px;
  width: max-content;
  &:hover {
    border-bottom: 3px solid #fcac45;
  }
}

.top_nav--link.active {
  border-bottom: 3px solid #fcac45;
}

.active_icon-top {
  display: none;
  &:hover {
    color: #fcac45;
    transform: scale(0.85);
  }
}

.title-subtitle {
  text-align: center;
  margin-top: 14.66vw;
  padding-bottom: 28vw;
}


.responsive-title {
	margin-top: 1vw;
  padding-bottom: 12vw;
  transition: all 0.3s ease;
}

.main_title {
  font-size: 2.93333vw;
  font-family: 'OpenSansLight', sans-serif;
  line-height: 2.93333vw;
  color: #999;
  font-weight: 300;
  margin-bottom: 1.33vw;
  span {
    color: #fcac45;
    font-weight: 700;
    font-family: 'OpenSansBold', sans-serif;
  }
}

.main_subtitle {
  text-transform: none;
  font-size: 1.33333vw;
  line-height: 1.6vw;      
  color: rgba(255, 255, 255, 0.75);
  /* padding-bottom: 420px; */
  span {
    font-weight: 700;
  }
}

.about_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7vw 0;
}

.about_us--img-block {
  width: 33.73vw;
}

.about_us--content-block {
  width: 31vw;
}

.about_us--title {
  text-transform: uppercase;
  font-size: 2.2666vw;
  font-family: 'OpenSansLight', sans-serif;
  line-height: 2.4666vw;
  font-weight: 400;
  color: #222;
  padding-bottom: 1.67vw;
  border-bottom: 3px solid #fcac45;
  margin-bottom: 1.67vw;
  width: max-content;
  span {
    font-family: 'OpenSansBold', sans-serif;
  }
}

.about_us--text {
  color: #6c6c6c;
  font-size: 1.2vw;
  line-height: 1.67vw;
  margin-bottom: 2.67vw;
}

.about_us--list {
  font-size: 1.2vw;
  line-height: 1.67vw;
  color: #5a5a5a;
  font-style: italic;
  margin-left: 1.8vw;
  margin-bottom: 1vw;
  &:last-child {
    margin-bottom: 0;
  }
  span {
    font-family: 'OpenSansSemiBold';
    font-style: normal;
  }
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: -1.73vw;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/icon-ul-about.svg) no-repeat left center;
    background-size: 0.9333vw 0.9333vw;
  }
}

.our_team {
  background-color: #070707;
  padding-top: 6.6666vw;
  padding-bottom: 10.6666vw;
  color: #fff;
}

.all-title {
  text-align: center;
  margin-bottom: 7.1333vw;
  .all-title--content {
    text-transform: uppercase;
    font-family: 'OpenSansSemiBold';
    font-size: 2.9333vw;
    line-height: 2.09333vw;
    padding-bottom: 2vw;
    position: relative;
    span {
      font-family: 'OpenSansLight', sans-serif;
      font-weight: 300;
    }
    &::after {
      content: '';
      width: 6.53333vw;
      height: 4px;
      background-color: #fcac45;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.our_team--carts {
  display: flex;
  .our_team--carts-cart {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .cart-photo {
      width: 8.67vw;
      height: 8.67vw;
      border-radius: 50%;
      background-color: #d7d7d7;
      margin-bottom: 1.33vw;
    }
    .cart-name-first {
      font-size: 1.333vw;
      font-weight: 700;
      line-height: 1.6vw;
    }
    .cart-name-prof {
      line-height: 1.6vw;
      font-size: 1.067vw;
      margin-bottom: 1.67vw;
    }
    .cart-text {
      line-height: 1.6vw;
      font-size: 0.9333vw;
      width: 16.8vw;
    }
  }
}

.title_black {
  color: #222;
}

.our_services-text {
  text-align: center;
  color: #6c6c6c;
  font-size: 1.067vw;
  line-height: 1.6vw;
  font-style: italic;
  margin-bottom: 7vw;
}

.our_services--tips {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* flex-basis: 16.66vw; */
}

.our_services--tips-cart {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222222;
}

.service_cart--img {
  width: 8.333vw;
  height: 8.333vw;
  border: 6px solid #fcac45;
  border-radius: 50%;
  text-align: center;

  margin-bottom: 1.86vw;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 3.6vw;
    height: 3.6vw;
  }
}

.service_cart--title {
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'OpenSansSemiBold';
  margin-bottom: 1.13vw;
}

.clients {
  background-color: #0b0b0b;
  padding: 6.67vw 0 14.2vw 0;
}

.service_cart--text {
  font-size: 0.9333vw;
  line-height: 1.4vw;
}

.all-title--content.title-white {
  font-size: 2.933vw;
  color: #ffffff;
  font-weight: 300;
  font-family: 'OpenSansLight', sans-serif;
  span {
    font-family: 'OpenSansSemiBold', sans-serif;
  }
}

.our-clients {
  margin: 0 18.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

.our-clients--cart {
  width: 11.066vw;
}

.our_work--text {
  margin-bottom: 11.66vw;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .works-img {
    width: 17.5333vw;
    margin-bottom: 2vw;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      outline: 2px solid #fcac45;
      transform: scale(0.95);
      opacity: 1;
    }
  }
  .works-img.active {
    opacity: 1;
  }
}

.testimonials,
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonials--text {
  max-width: 62.3333vw;
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'OpenSansSemiBold',  sans-serif;
  margin-bottom: 3vw;
}

.testimonials--name {
  line-height: 1.6vw;
  color: #b2b2b2;
  font-family: 'OpenSansSemiBold',  sans-serif;
  font-size: 1.2vw;
  span {
    font-family: 'OpenSansLight', sans-serif;
  }
}

.contact {
  width: 50.267vw;
  margin: 0 auto;
}

.contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  input {
    width: 24vw;
    display: flex;
    margin-bottom: 2.333vw;
    height: 2.67vw;
  }
  label {
    text-align: left;
    color: #636363;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 0.933vw;
    line-height: 1.6vw;
    span {
      color: #db0000;
    }
  }
  .message {
    width: 100%;
    margin-bottom: 2vw;
    height: 11vw;
  }
  button.btn.contact-submit {
    margin-left: auto;
    background-color: #fcac45;
    font-size: 1.067vw;
    color: #fff;
    padding: 1vw 4vw;
    &:hover {
      border: 2px solid #000;
    }
  }
}

.main-footer {
  background-color: #222222;
  padding: 2vw 0;
}

.social_net {
  width: 14.067vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 2vw;
    height: 2vw;
    fill: #b2b2b2;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      transform: scale(0.85);
    }
  }
}


