/* Large Devices, Wide Screens */
@media only screen and (max-width : 1050px) {
	.top_nav--menu {
		display: none;
	}
	.active_icon-top {
		display: block;
		font-size: 20px;
		position: absolute;
	}
	.top_nav--menu.responsive {
		display: block;
    position: relative;
    top: 50px;
    left: -40vw;
		height: 320px;
		transition: all 0.3s ease;
	}
	.top_nav--link {
		padding-bottom: 5px;
		margin-bottom: 15px;
	}
}
	
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.our_services--tips,
	.our_team--carts {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.our_services--tips-cart,
	.our_team--carts .our_team--carts-cart {
		width: 46%;
		margin-bottom: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.works .works-img {
    width: 36vw;
    margin-bottom: 4vw;
	}
	.contact-us input {
		flex-direction: column;
		width: 50vw;
	}
	button.btn.contact-submit {
		margin-right: auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.about_us {
		flex-direction: column;
	}
	.about_us--img-block {
		margin-bottom: 10vw;
	}
	.our_services--tips-cart,
	.our_team--carts .our_team--carts-cart {
		width: 92%;
		margin-bottom: 40px;
	}
	.works {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.works-img {
			width: 72vw;
		}
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/